.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer{
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  margin: 3px;
  padding: 3px;
  width: 50px;
}

button{
  margin: 5px;
  padding: 5px;
  width: 80px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.btn-start{
  background-color: green;
  color: #FFF;
}

.btn-reset{
  background-color: orange;
}